In [1]:
import pandas as pd

# Excel file path
file_path = 'WorldEnergyData/Statistical Review of World Energy Data.xlsx'

# Specify the sheet name
sheet_name = 'Primary Energy Consumption'

# Read the data into a DataFrame using pd.read_excel()
df = pd.read_excel(file_path, sheet_name=sheet_name, header=None)

# Remove rows 1, 2, 4
df = df.drop([0, 1, 3])

# Remove last three columns
df = df.iloc[:, :-3]

# Use the row with years as column names
df.columns = df.iloc[0]

# Delete the last 6 rows
df = df.iloc[:-15]

# Reset the index
df = df.reset_index(drop=True)

# Remove the rows where it has years
df = df.drop([0])

# Delete rows with all NaN values
df = df.dropna(axis=0, how='all')

# Convert the years (column names) to integers starting from the second column
df.columns = [df.columns[0]] + df.columns[1:].astype(int).tolist()

# Delete rows where the country name has total in it
df = df[~df.iloc[:, 0].str.contains('Total')]

# Calculate average and mean for energy consumption over all years
mean_energy = df.iloc[:, 1:].mean(axis=1)

# Add the calculated value to the DataFrame
df['Mean_Energy'] = mean_energy

# Set the option to display all rows
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_rows')
df.head()

,Exajoules,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Mean_Energy
1,Canada,5.000530,5.323648,5.566650,5.924125,6.283252,6.726828,6.937724,7.467379,8.109156,...,14.427887,14.521903,14.324463,14.542580,14.673866,14.586182,13.707762,13.837298,14.142619,11.220852
2,Mexico,1.055971,1.118099,1.139578,1.241153,1.362338,1.454515,1.529385,1.690486,1.823291,...,8.019029,7.930723,8.110230,8.264961,8.156483,8.061982,7.431083,7.989359,8.725498,5.021044
3,US,51.982924,54.890509,56.802742,60.189787,63.300323,65.541022,66.920431,70.250692,73.223263,...,93.586384,92.689320,92.603346,92.948511,96.353840,95.669075,88.571151,93.402095,95.910380,82.414117
6,Argentina,1.182699,1.221029,1.256516,1.299040,1.342478,1.272551,1.349070,1.366013,1.427248,...,3.527488,3.588984,3.572727,3.569030,3.543644,3.338490,3.131384,3.476418,3.603504,2.299338
7,Brazil,0.985931,1.075608,1.114485,1.272550,1.388923,1.632110,1.818817,2.077138,2.44664,...,12.831906,12.661045,12.355795,12.466776,12.513486,12.718623,12.219725,12.854411,13.409531,6.980992